section.banner.section
    h2.banner__title ¿CUÁL EXPERIENCIA NUEVA LE GUSTARÍA VIVIR?
    div.banner__list
        div.owl-carousel
            div.banner__item
                img.banner__img(src="img/laptop-4x3.png.rendition.intel.web.336.252.png", alt="Imagen")
                span.banner__span 2 en 1
            div.banner__item
                img.banner__img(src="img/all-in-one-4x3.png.rendition.intel.web.336.252.png", alt="Imagen")
                span.banner__span All-in-one
            div.banner__item
                img.banner__img(src="img/2-in-1-4x3.png.rendition.intel.web.336.252.png", alt="Imagen")
                span.banner__span Laptops
            div.banner__item
                img.banner__img(src="img/homepage-nuc-gallery-rwd.png.rendition.intel.web.336.252.png", alt="Imagen")
                span.banner__span Mini Pc
            div.banner__item
                img.banner__img(src="img/tablet-4x3.png.rendition.intel.web.336.252.png", alt="Imagen")
                span.banner__span Tablets
            div.banner__item
                img.banner__img(src="img/desktop-4x3.png.rendition.intel.web.336.252.png", alt="Imagen")
                span.banner__span Pc
