section.core.section
    div.core__background.g-background
    div.core__information.g-information
        h2.core__title NUEVOS PROCESADORES INTEL ® CORE™ DE OCTAVA GENERACIÓN
        p.core__description Realice una maratón de sus series favoritas, lleve la experiencia de juego al siguiente nivel o libere su creatividad con las nuevas incorporaciones a la familia de procesadores Intel® Core™ de octava generación.
        a.core__link.g-link(href="#") Más información
