footer.footer.section
    div.footer__generic
        div.footer-menu
            ul.footer-menu__list
                li.footer-menu__item
                    a.footer-menu__link(href="#") Información de la empresa
                li.footer-menu__item
                    a.footer-menu__link(href="#") Nuestro compromiso
                li.footer-menu__item
                    a.footer-menu__link(href="#") Relaciones con inversores
                li.footer-menu__item
                    a.footer-menu__link(href="#") Contáctenos
                li.footer-menu__item
                    a.footer-menu__link(href="#") Noticias
                li.footer-menu__item
                    a.footer-menu__link(href="#") Mapa del sitio
                li.footer-menu__item
                    a.footer-menu__link(href="#") Oportunidades de empleo
        div.footer-social
            img.footer-social__icon(src="img/facebook.svg", alt="Ícono de facebook")
            img.footer-social__icon(src="img/twitter.svg", alt="Ícono de twitter")
            img.footer-social__icon(src="img/linkedin.svg", alt="Ícono de linkedin")
            img.footer-social__icon(src="img/youtube.svg", alt="Ícono de youtube")
            img.footer-social__icon(src="img/instagram.svg", alt="Ícono de instagram")
            
        div.footer-terms
            span.footer-terms__item © Intel Corporation
            span.footer-terms__item Términos de uso
            span.footer-terms__item *Marcas comerciales
            span.footer-terms__item Privacidad
            span.footer-terms__item Cookies
            span.footer-terms__item Transparencia de la cadena de suministro
        
    img.footer__icon(src="img/intel-gray.svg", alt="Ícono de intel")
