section.performance.section
    div.performance__background.g-background
    div.performance__information.g-information
        h2.performance__title CAPACIDAD DE RESPUESTA DE ALTO DESEMPEÑO
        p.performance__description Si puede imaginarlo, los procesadores Intel® Core™ de 8a generación con memoria Intel® Optane™ le permiten hacerlo: de manera más rápida y sencilla que nunca.
        a.performance__link.g-link(href="#") Más información
