div.resources.section
    div.resources__item
        img.resources__icon(src="img/support.svg", alt="Ícono de soporte")
        h3.resources__title Soporte
    div.resources__item
        img.resources__icon(src="img/specification.svg", alt="Ícono de especificaciones")
        h3.resources__title Features
    div.resources__item
        img.resources__icon(src="img/product.svg", alt="Ícono de producto")
        h3.resources__title Productos
    div.resources__item
        img.resources__icon(src="img/cpu.svg", alt="Ícono de procesadores")
        h3.resources__title Procesadores
    div.resources__item
        img.resources__icon(src="img/download.svg", alt="Ícono de descarga")
        h3.resources__title Descargas
