section.software.section
    div.software__background.g-background
    div.software__information.g-information
        h2.software__title ROMPER LAS BARRERAS DEL DISEÑO DE FPGA
        p.software__description El software de diseño Intel® Quartus® Prime incluye todo lo necesario para el diseño de Intel® FPGAs.
        a.software__link.g-link(href="#") Acceda a más información de las novedades en la versión 18.1
