section.streaming.section
    div.streaming__background.g-background
    div.streaming__information.g-information
        h2.streaming__title JUEGA + GRABA + TRANSMITE SIN COMPROMISOS
        p.streaming__description Los procesadores Intel® Core™ más recientes proporcionan una sólida potencia informática necesaria para ofrecer una jugabilidad fluida en los títulos más importantes de la actualidad mientras comparte la experiencia con otros.
        a.streaming__link.g-link(href="#") Obtener más información
